.detail{
    background-color: #f2f2f2;
    padding: 20px;  


}
h1{
    
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    color: green;
}

#education{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
}

#skills{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
}

#experience{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #f2f2f2;
    padding: 20px;
}